body {
    background-color: #fff;
}
h2 {
    margin-top: 12px;
    font-size: 2em;
}

.menu-item {
    background-color: #ddd;
}
.menu-item h3 {
    padding-top: 16px;
    text-align: center;
}
.menu-item p {
    padding: 8px;
}

.navbar-toggler {
    border: 1px solid #707071;
    width: 50px;
}
.navbar-brand h1 {
    font-size: 2.5em;
}

.navbar-nav {
    border-top: 1px solid #707071;
}
.navbar-nav li {
    text-align: center;
    padding: 8px;
    border-bottom: 1px solid #707071;
}